gkg_soup.py
Thumbs.db
ehthumbs.db
Desktop.ini
__pycache__/
*.pyc
*.pyo
.Python
*.ipynb_checkpoints/

index.html
tSNE3d_test.html
three_plot.js

sql/
mentions/
gkg/
events/
gui/
ignore/
archive_ignore/