body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

form {
    max-width: 400px;
    width: 200%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

form h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}



/*GOOGLE LOGIN*/
.gsi-material-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    font-size: 16px;
}

.gsi-material-button:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
}

.gsi-material-button-icon {
    margin-right: 8px;
}
